body {
  background: #313030;
}

.img {
  height: 250px;
  width: 300px;
}

p {
  font-size: 10px;
  background: url(3.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255, 255, 255, 0.01);
}
